.tag-list{
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    overflow: hidden;
}

.inner{
    width: auto;
    display: flex;
    gap: 10rem;
    animation: loop 90s linear infinite;
    backdrop-filter: blur(8px);
    flex-shrink: 0;
    min-width: max-content;
}

.fade {
    position: absolute;
    background: linear-gradient(
        90deg,
        #7e7e7e 0%,
        transparent 10%,
        transparent 90%,
        #7e7e7e 100%
    );
    inset: 0;
    pointer-events: none;
}


@keyframes loop{
    0% {
        transform: translateX(0);
    }
    100%{
        transform: translateX(-50%);
    }
}


@media (max-width: 576px) {
    .tag-list{
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
        position: relative;
        overflow: hidden;
    }

    .inner{
        width: auto;
        display: flex;
        gap: 10rem;
        animation: loop 100s linear infinite;
        backdrop-filter: blur(8px);
        flex-shrink: 0;
        min-width: max-content;
    }

    .fade {
        position: absolute;
        background: linear-gradient(
            90deg,
            #7e7e7e 0%,
            transparent 10%,
            transparent 90%,
            #7e7e7e 100%
        );
        inset: 0;
        pointer-events: none;
    }


    @keyframes loop{
        0% {
            transform: translateX(0);
        }
        100%{
            transform: translateX(-50%);
        }
    }

}
